.container{
  width:800px;
  height:550px;
  display:flex;
  flex-direction:column;
}
.firstrow{
/*   height:50px; */
  flex-grow:1;
  background-color:purple;
  display:flex;
  align-items:center;
}
.secondrow{
  display:flex;
/*   height:500px; */
  flex-grow:15;
}
.button{
  background-color:cyan;
  height:60%;
  margin:10px;
}
.rovid{
  width:50px;
}
.kozepso{
  width:120px;
  
}

.main{
   background-color:yellow;
/*     width:70%; */
  flex-grow:4;
}
.side{
   background-color:lime;
/*   width:30%; */
  flex-grow:1;
}